
body{
    padding: auto;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.bg-french{
    background: #04ACFC;
}
.galeria{
    height: 100px;
}
.vision{
    text-align: center;
}



.boton{
    text-decoration: none;
    border: solid 1px #707070;
    border-radius: 10px ;
    color: #707070;
    
}
.boton:hover{
    text-decoration: none;
    color: #C5ECFC;
    background: #08adff;
}
.boton2{
    text-decoration: none;
    border: solid 1px #707070;
    border-radius: 3px ;
    color: #707070;
    
}
.boton2:hover{
    text-decoration: none;
    color: #C5ECFC;
    background: #08adff;
}
.boton{
    text-decoration: none;
    border: solid 1px #707070;
    border-radius: 10px ;
    color: #707070;
    
}
.botonlogin{
    text-decoration: none;
    border: solid 1px #707070;
    border-radius: 10px ;
    color: #C5ECFC;
    background: #08adff;
    
}
.botonlogin:hover{
    text-decoration: none;
    border: solid 1px #707070;
    border-radius: 10px ;
    color: #C5ECFC;
    background: #08adff;
    
}
.boton3{
    text-decoration: none;
    border: solid 1px #08adff;
    border-radius: 3px ;
    color: #C5ECFC;
    background: #08adff;
    
}
.boton3:hover{
    text-decoration: none;
    border: solid 1px #08adff;
    border-radius: 3px ;
    color: #08adff;
    background: #C5ECFC;

    
}
.boton:hover{
    text-decoration: none;
    color: #C5ECFC;
    background: #08adff;
}
.botonfacebook{
    text-decoration: none;
    border: solid 1px #707070;
    border-radius: 10px ;
    color: #707070;
    
}
.botonfacebook:hover{
    text-decoration: none;
    color: #C5ECFC;
    background: #4072fa;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #707070;
}
.navbar-custom .navbar-nav .nav-link {
   
    color: white;
}
.active{
    color:#020202 !important;
}
.active:hover{
    color:rgb(112, 112, 112);
}

.navbar-custom .nav-item:hover .nav-link {
    color:rgb(112, 112, 112);
}
header{
    border: solid 1px #e0dfdf;
}
.botones{
    border-left: solid 1px #e0dfdf;
    height: 90px;
    padding-left: 50px;

}
.redd{
    color: #f73e3e;
}
.red{
    color: #f73e3e;
}
.red:hover{
    color: #f73e3e;
    cursor: pointer;
}
.numeracion a{
    color: #707070;
}
.numeracion a:hover{
    color: #08adff;
}
.searchbar{
    border-radius: 20px;
}
footer{
    margin-bottom: -24px;
}

.blog{
    background-color: #08adff;
    width: 35%; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.borde{
    border: solid 1px #e0dfdf;
}

/*media queries */
/* @media mediatype */
/* device lg-grande */
@media all and (min-width: 992px){
    nav{
        height: 100px !important;
    }
    .entradacard{
        width: 80%;
    }
    .numeracion{
        width: 80%;
    } 
}
/* device md-medio */
@media all and (min-width: 768px) and (max-width: 991px){
 
       

}


/* device sm-pequeño */
@media all and (min-width: 322px) and (max-width: 767px){
    
   
}
